body{
    background-color: #F8E8EE;
    font-family: system-ui;
}

.container{
    width: 150px;
    margin: auto;
    transition: 0.5s;
}

header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

header .shopping{
    position: relative;
    text-align: right;
}

header .shopping img{
    width: 40px;
}

header .shopping span{
    font-size: 16px;
    background-color: #E8A0BF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 5px 15px;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 50px;
}

.card{
    /* card sebagai dashboard di samping */
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #FF9EAA;
    height: 100vh;
    transition: 0.5s;
}

.card h1{
    background-color: #fdbccc ;
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* position: bottom; */
}

.card .checkOut div{
    background-color: #fdbccc;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer
}

.card .checkOut div:nth-child(2){
    /* ujung kanan */
    background-color: #E966A0;
    color: white;
}

.active .card{
    left: calc(100% - 500px);
}

.active .container{
    transform: translateX(-200px);
}

.list .item img{
    width: 90%;
}

.list .item .title{
    font-weight: 600;
}

.list .item .price{
    margin: 10px;
}

.list .item button{
    background-color: black;
    color: white;
    padding: 10;
    width: 100%;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: white;
    row-gap: 10px;
    margin-bottom: 20px;
}

.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img{
    width: 90%;
}

.listCard button{
    width: auto;
    background-color: #fdbccc;
    border: none;
}

.listCard .count{
    margin: 0 10px;
}




